.ms-feature-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 280px;
}
.ms-feature-outer-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
}

.ms-feature-div1-p {
    font-size: 24px;
    font-weight: 700;
    line-height: 19.2px;
    background-color: #F1F2F4;
    padding: 14px;
    border-radius: 40px;
}

.ms-feature-div2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.ms-feature-div2-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.ms-feature-div2-div div{
    display: flex;
    justify-content: center;
}
.ms-feature-div2-div-p{
    font-size: 80px;
    font-weight: 800;
    line-height: 98px;
    padding: 10px;
}


.ms-feature-div3{
    display: flex;
    justify-content: space-between;
    margin-bottom: 330px;
}
.ms-feature-div3-div1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 100%;
}

.ms-feature-div3-div1-p-div{
    margin-top: 30px;
}

.ms-feature-div3-div1-div1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.ms-feature-div3-div1-div2{
    display: flex;
    justify-content: flex-start;
    width: 85%;
    flex-basis: 50%;
}

.ms-feature-div3-div2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
}
.ms-feature-div3-div2-div{
    display: flex;
    justify-content: center;
}
.ms-feature-div3-div2-div-img{
    width: 100%;
}

.ms-feature-div3-div1-a{
    color: black;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    background-color: #FEE9CB;
    padding: 14px 28px;
    border-radius: 30px;
}

.ms-feature-div3-div1-p{
    font-size: 60px;
    font-weight: 600;
    line-height: 75px;
}

.ms-feature-div3-div1-div2-p{
    color: #7c7c86;
    font-size: 30px;
    font-weight: 500;
    line-height: 50px;
    word-wrap: break-word;
}





.ms-feature-div4{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 115%;
}

.ms-feature-div3-div3{
    display: flex;
    /* align-content: flex-end; */
    justify-content: flex-end;
    /* flex-basis: 100%; */
}

.ms-feature-div3-div3-div{
    display: flex;
    width: 80%;
}

.ms-feature-div3-div3-div-div1{
    background-color: black;
    color: white;
    flex-basis: 80%;
    border-radius: 20px 20px 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 80%;
}

.ms-feature-div3-div3-div-div1 p{
    font-size: 24px;
    font-weight: 600;
    width: 100%;
}

.ms-feature-div3-div3-div-div2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    align-items: flex-end;
    flex-basis: 20%;
}
.ms-feature-div3-div3-div-div2 div{
    flex-basis: 100%;
    height: 50%;
}
.ms-feature-div3-div3-div-div2-img{
    width: 90%;
}

.ms-fet-a1{
    background-color: #CCEAFD;
}
.ms-fet-a2{
    background-color: #DDF4E4;
}
.ms-fet-a3{
    background-color: #FDDED6;
}

.ms-var-for-extra-features{
    align-items: center;
}

.ms-feature-2nd-box{
    border-radius: 16px 16px 16px 0;
}

.ms-feature-2nd-box-modify-flex{
    justify-content: flex-start;
}

.ms-feature-div3-div3-p2{
    color: #7c7c86;
}








.ms-feature-card{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    padding:0 30px;
    margin: 70px 0;
}


.ms-feature-card-div{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}

.ms-feature-card-img-div{
    display: flex;
    justify-content: center;
    background-color: #F1F2F4;
    padding :60px 0;
}
.ms-feature-card-div-img{
    width:50%;
    height: 300px;
}

.ms-feature-card-a-div{
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.ms-feature-card-div-a{
    color: black;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    padding: 14px 40px;
    background-color: #7c7c86;
    border-radius: 35px;
}
.ms-feature-card-p-div{
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
    width: 85%;
}

.ms-feature-card-div-p{
    font-size: 24px;
    font-weight: 500;
    color: #6B6B83;
}
.ms-card-a-1{
    background-color: #F1F2F4;
}
.ms-card-a-2{
    background-color: #FEE9CB;
}
.ms-card-a-3{
    background-color: #CCEAFD;
}
.ms-card-a-4{
    background-color: #DDF4E4;
}
.ms-card-a-5{
    background-color: #FDDED6;
}
.ms-card-a-6{
    background-color: #C39CF6;
}



@media only screen and (max-width: 1100px){
    .ms-feature-div1-p {
        font-size: 18px;
    }
    .ms-feature-div2-div-p{
        font-size: 50px;
        font-weight: 800;
        line-height: 98px;
        padding: 10px;
    }
    .ms-feature-div3{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 330px;
    }
    .ms-feature-div3-div1-a{
        color: black;
        text-decoration: none;
        font-size: 18px;
    }
    .ms-feature-div3-div1-p{
        font-size: 50px;
        font-weight: 600;
        line-height: 75px;
    }
    .ms-feature-div3-div2-div-img{
        width: 80%;
    }
    .ms-feature-mobile-version{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        margin-bottom: 330px;
    }

    .ms-feature-card{
        display: grid;
        grid-template-columns: auto;
        grid-gap: 30px;
        padding:0 30px;
        margin: 70px 140px;
    }
    
}