.ms-price-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 280px;
}
.ms-price-outer-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
}
.ms-price-outer-div1{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
}

.ms-price-div1-p {
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    background-color: #F1F2F4;
    padding: 14px;
    border-radius: 40px;
}

.ms-price-div2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.ms-price-div2-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.ms-price-div2-div div{
    display: flex;
    justify-content: center;
}
.ms-price-div2-div-p{
    font-size: 56px;
    font-weight: 800;
    line-height: 67.2px;
    padding: 10px;
}


.ms-price-opt-div{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin: 50px 0;
}
.ms-price-opt-div-div1{
    display: flex;
    width:40%;
}
.ms-price-month-annual-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F1F2F4;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    padding: 10px 50px;
    border-radius: 20px;
    cursor: pointer;
}
.ms-price-month{
    display: flex;
    justify-content: center;
    /* background: white;
    padding: 5px 20px;
    border-radius: 27px; */
    margin-right: 10px;
}
.ms-price-annual{
    /* padding-left: 40px; */
    display: flex;
    justify-content: center;
    align-content: center;
}
.ms-price-month.active{
    background: white;
    padding: 5px 20px;
    border-radius: 27px;
}
.ms-price-annual.active{
    background: white;
    padding: 5px 20px;
    border-radius: 27px;
}

.ms-price-a-div{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.ms-price-a{
    color: black;
    text-decoration: none;
    font-size: 18px;
}
.ms-price-month-p,.ms-price-annual-p{
    margin:0;
}


.ms-price-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #FEFEFE;
    padding: 40px 30px;
    border-radius: 20px;
}

.ms-price-card-div1 p{
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    color: black;
    padding: 10px 50px;
    border-radius: 30px;
    width: min-content;
}
.ms-price-card-div2 p{
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    color: #6B6B78;
    /* padding: 10px 50px; */
    /* border-radius: 30px; */
    /* width: min-content; */
}
.ms-price-card-div3 p span{
    font-size: 56px;
    font-weight: 800;
    line-height: 56px;
    color: black;
}
.ms-price-card-div3 p{
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    color: black;
}
.ms-price-card-div4 p{
    font-size: 16px;
    font-weight: 500;
    line-height: 20.8px;
    color: black;
}
.ms-price-card-div5 a{
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    color: white;
    /* width: 100%; */
    padding: 15px 30px;
    text-decoration: none;
}
.ms-price-card-div5{
    background-color: black;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 20px;
    margin-top: 10px;
}
.ms-price-card-div6{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.ms-price-card-div6 p{
    font-size: 12px;
    font-weight: 500;
    color: #6B6B78;
}

.ms-price-card-div7 p{
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    color: black;
}

.ms-price-card-div8 p{
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    color: #6B6B78;
    margin-top: 10px;
}

.ms-price-ion{
    scale: 1.5;
    margin-right: 18px;
    color: #C39CF6;
}


.ms-price-color-1{
    background-color: #F1F2F4;
}

.ms-price-color-2{
    background-color: #FEE9CB;
}
.ms-price-color-3{
    background-color: #F2CAC0;
}


@media only screen and (max-width: 1100px){
    .ms-price-div{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
    }
    .ms-price-div1-p {
        font-size: 14px;
        line-height: 14px;
    }
    .ms-price-div2-div-p{
        font-size: 32px;
        font-weight: 800;
        line-height: 38.4px;
        
    }
    .ms-price-month-annual-wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #F1F2F4;
        font-size: 12px;
        font-weight: 400;
        line-height: normal;
        padding: 5px 10px;
        
    }
    .ms-price-a{
        color: black;
        text-decoration: none;
        font-size: 14px;
    }
    .ms-price-outer-div1{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .ms-price-card{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: #FEFEFE;
        padding: 40px 20px;
        border-radius: 20px;
        margin-bottom: 40px;
    }
    .ms-price-opt-div-div1{
        display: flex;
        width:60%;
    }
    
}